In [7]:
from urllib.request import urlopen
import json
import os

import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go  # or plotly.express as px

from .about_us import about_us_html

ModuleNotFoundError: No module named 'plotly'

In [21]:
def county2fips_fct(x):
    if x in county2fips:
        return str(int(county2fips[x]))
    else:
        return np.nan


# # define data dir
data_dir = "../data"
data_filepath = data_dir
# data_filepath = os.path.join(os.path.dirname(os.path.realpath(__file__)), data_dir)

counties_with_latlong = pd.read_csv(
    os.path.join(data_filepath, "counties.txt"), dtype={"GEOID": str}, sep="\t"
)

# get sundown town data
df = pd.read_csv(os.path.join(data_filepath, "sundown_with_counties.csv"), encoding="latin-1")
df["County_no_states"] = df.county.str.split(",").apply(lambda x: x[0])
county_long_names = []
for i in df.county.values:
    x = i.split(",")
    if len(x) == 2:
        county_long_names.append(x[0] + " " + x[1])
    else:
        county_long_names.append(x)
df["county_long_names"] = county_long_names

# get fips data
fips_codes = pd.read_csv(os.path.join(data_filepath, "county_fips_master.csv"), encoding="latin-1")
county2fips = dict(fips_codes[["county_name", "fips"]].values)

In [22]:
county_sundown_counts = pd.DataFrame(df.groupby(by="County_no_states").size())
county_sundown_counts = county_sundown_counts.reset_index()
county_sundown_counts = county_sundown_counts.rename(columns={"County_no_states": "County", 0: "#"})
county_sundown_counts["fips"] = county_sundown_counts.County.apply(lambda x: county2fips_fct(x))
county_sundown_counts = county_sundown_counts[county_sundown_counts.fips.notnull()]

with urlopen(
    "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json"
) as response:
    counties = json.load(response)

df = pd.read_csv(
    "https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
    dtype={"fips": str},
)

tab_style = {
    "borderBottom": "1px solid #d6d6d6",
    "padding": "6px",
    "margin-bottom": "10px",
    "fontWeight": "bold",
}

tab_selected_style = {
    "borderTop": "1px solid #d6d6d6",
    "borderBottom": "1px solid #d6d6d6",
    "padding": "6px",
    "margin-bottom": "10px",
}

In [52]:
counties_with_latlong = pd.read_csv('../data/counties.txt', dtype={"GEOID": str}, sep='\t', skipinitialspace=True)

In [53]:
counties_with_latlong.USPS.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR'], dtype=object)

In [54]:
city_county_dict = dict()
with open('../data/us_cities_to_county.csv') as city_mapping_file:
    city_mapping_reader = csv.DictReader(city_mapping_file)
    for c in city_mapping_reader:
        city_county_dict[c['city']] = c['county_name']
        
city_county_dict

NameError: name 'csv' is not defined

In [55]:
import pandas as pd

sundown_data = {}
with open('../data/sundown_states.csv') as sundown_file:
    city_reader = csv.DictReader(sundown_file)
    for r in city_reader:
        if r['city'] in city_county_dict.keys():
            data = r
            data['county'] = city_county_dict[r['city']] + ' County' +', ' + r['state']
            sundown_data[r['id']] = data
        elif 'County' in r['city']:
            print('missed mapping: {}'.format(r['city']))
            data['county'] = r['city']
            sundown_data[r['id']] = data

sundown_with_counties_df = pd.DataFrame(sundown_data.values())
sundown_with_counties_df.to_csv('../data/sundown_with_counties.csv')

NameError: name 'csv' is not defined

In [56]:
# unique values of sundown towns
sundown_with_counties_df['status'].unique()

NameError: name 'sundown_with_counties_df' is not defined

In [66]:
counties_with_latlong.columns = map(lambda s:s.strip(), counties_with_latlong.columns)

In [67]:
matching_state = counties_with_latlong[counties_with_latlong["USPS"] == 'AL']

In [68]:
matching_state.INTPTLONG

0    -86.646440
1    -87.746067
2    -85.405104
3    -87.127148
4    -86.566440
5    -85.717261
6    -86.681969
7    -85.827909
8    -85.394032
9    -85.654242
10   -86.726607
11   -88.248889
12   -87.818624
13   -85.863525
14   -85.516126
15   -85.989602
16   -87.801457
17   -86.988722
18   -86.243482
19   -86.448721
20   -86.319222
21   -86.869267
22   -85.609476
23   -87.114356
24   -85.803992
25   -86.142735
26   -87.168410
27   -86.034263
28   -87.764292
29   -87.842814
        ...
37   -88.087431
38   -87.650997
39   -87.321865
40   -85.353048
41   -86.981399
42   -86.650586
43   -85.692887
44   -86.551080
45   -87.791091
46   -87.881551
47   -86.321668
48   -88.196568
49   -87.383266
50   -86.204461
51   -86.846402
52   -87.293827
53   -88.096863
54   -85.941604
55   -85.464068
56   -85.186980
57   -86.315663
58   -86.678089
59   -88.200057
60   -86.175930
61   -85.799618
62   -87.522783
63   -87.301094
64   -88.197564
65   -87.304935
66   -87.365346
Name: INTPTLONG, Length: 67, dtype: float64

In [69]:
latlon = matching_state[matching_state.columns[-2:]].values.tolist()[0]

In [61]:
matching_state

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,01001,161526,Autauga County,1539602137,25706961,594.444,9.926,32.532237,-86.646440
1,AL,01003,161527,Baldwin County,4117621645,1132980868,1589.823,437.446,30.659218,-87.746067
2,AL,01005,161528,Barbour County,2292160139,50523213,885.008,19.507,31.870253,-85.405104
3,AL,01007,161529,Bibb County,1612167476,9602089,622.461,3.707,33.015893,-87.127148
4,AL,01009,161530,Blount County,1670103866,15015467,644.831,5.798,33.977358,-86.566440
5,AL,01011,161531,Bullock County,1613076054,6038093,622.812,2.331,32.101759,-85.717261
6,AL,01013,161532,Butler County,2012002531,2701198,776.839,1.043,31.751667,-86.681969
7,AL,01015,161533,Calhoun County,1569195268,16587192,605.870,6.404,33.770516,-85.827909
8,AL,01017,161534,Chambers County,1545085607,16971700,596.561,6.553,32.915504,-85.394032
9,AL,01019,161535,Cherokee County,1433623319,120308342,553.525,46.451,34.069515,-85.654242
10,AL,01021,161536,Chilton County,1794477075,20592142,692.852,7.951,32.854051,-86.726607
11,AL,01023,161537,Choctaw County,2365869841,19144469,913.467,7.392,31.990954,-88.248889
12,AL,01025,161538,Clarke County,3207494106,36657891,1238.420,14.154,31.685521,-87.818624
13,AL,01027,161539,Clay County,1564251834,5285207,603.961,2.041,33.270400,-85.863525
14,AL,01029,161540,Cleburne County,1450663786,2354896,560.104,0.909,33.671964,-85.516126
15,AL,01031,161541,Coffee County,1758565919,3907189,678.986,1.509,31.402258,-85.989602
16,AL,01033,161542,Colbert County,1535202321,79700278,592.745,30.772,34.703112,-87.801457
17,AL,01035,161543,Conecuh County,2202007855,6632046,850.200,2.561,31.430926,-86.988722
18,AL,01037,161544,Coosa County,1685850815,39987271,650.911,15.439,32.931445,-86.243482
19,AL,01039,161545,Covington County,2669134207,34226200,1030.559,13.215,31.243987,-86.448721
20,AL,01041,161546,Crenshaw County,1576952799,5388562,608.865,2.081,31.732826,-86.319222
21,AL,01043,161547,Cullman County,1902970816,52525039,734.741,20.280,34.131923,-86.869267
22,AL,01045,161548,Dale County,1453244559,4082940,561.101,1.576,31.430654,-85.609476
23,AL,01047,161549,Dallas County,2534919607,39124778,978.738,15.106,32.333540,-87.114356
24,AL,01049,161550,DeKalb County,2012676480,4121543,777.099,1.591,34.460929,-85.803992
25,AL,01051,161551,Elmore County,1601768864,99957936,618.446,38.594,32.597229,-86.142735
26,AL,01053,161552,Escambia County,2448115116,20504948,945.223,7.917,31.122287,-87.168410
27,AL,01055,161553,Etowah County,1385871922,35067763,535.088,13.540,34.047641,-86.034263
28,AL,01057,161554,Fayette County,1625693288,4330881,627.684,1.672,33.716157,-87.764292
29,AL,01059,161555,Franklin County,1641841404,32643981,633.919,12.604,34.441989,-87.842814
...,...,...,...,...,...,...,...,...,...,...
37,AL,01075,161563,Lamar County,1566544637,1600679,604.846,0.618,33.787085,-88.087431
38,AL,01077,161564,Lauderdale County,1730146078,133608951,668.013,51.587,34.904122,-87.650997
39,AL,01079,161565,Lawrence County,1788864251,68682382,690.684,26.518,34.529776,-87.321865
40,AL,01081,161566,Lee County,1573514768,21526461,607.537,8.311,32.604064,-85.353048
41,AL,01083,161567,Limestone County,1450277886,122329712,559.955,47.232,34.810239,-86.981399
42,AL,01085,161568,Lowndes County,1854201377,23721835,715.911,9.159,32.147888,-86.650586
43,AL,01087,161569,Macon County,1576855716,11345392,608.827,4.380,32.387027,-85.692887
44,AL,01089,161570,Madison County,2076111961,28810665,801.591,11.124,34.764238,-86.551080
45,AL,01091,161572,Marengo County,2530140237,14966620,976.893,5.779,32.247591,-87.791091
46,AL,01093,161573,Marion County,1922657342,3183332,742.342,1.229,34.138219,-87.881551
47,AL,01095,161574,Marshall County,1465531863,148495459,565.845,57.334,34.309564,-86.321668
48,AL,01097,161575,Mobile County,3184158350,1073926668,1229.410,414.645,30.684572,-88.196568
49,AL,01099,161576,Monroe County,2656469660,22609681,1025.669,8.730,31.580332,-87.383266
50,AL,01101,161577,Montgomery County,2034017780,37744718,785.339,14.573,32.202881,-86.204461
51,AL,01103,161578,Morgan County,1501156832,50377239,579.600,19.451,34.454484,-86.846402
52,AL,01105,161579,Perry County,1863900621,10937769,719.656,4.223,32.639005,-87.293827
53,AL,01107,161580,Pickens County,2282674053,22740989,881.345,8.780,33.296793,-88.096863
54,AL,01109,161581,Pike County,1740647520,2336975,672.068,0.902,31.798651,-85.941604
55,AL,01111,161582,Randolph County,1503615937,9285420,580.549,3.585,33.296475,-85.464068
56,AL,01113,161583,Russell County,1660622936,15596319,641.170,6.022,32.289811,-85.186980
57,AL,01115,164997,St. Clair County,1635786810,56407166,631.581,21.779,33.712963,-86.315663
58,AL,01117,161584,Shelby County,2034134905,62515663,785.384,24.137,33.263043,-86.678089
59,AL,01119,161585,Sumter County,2340898915,24634883,903.826,9.512,32.597481,-88.200057
60,AL,01121,161586,Talladega County,1908293036,60927931,736.796,23.524,33.369314,-86.175930
61,AL,01123,161587,Tallapoosa County,1855782851,128806123,716.522,49.732,32.863308,-85.799618
62,AL,01125,161588,Tuscaloosa County,3421010003,78714550,1320.859,30.392,33.290220,-87.522783
63,AL,01127,161589,Walker County,2048686078,36754696,791.002,14.191,33.791558,-87.301094
64,AL,01129,161590,Washington County,2797720322,21652733,1080.206,8.360,31.405217,-88.197564
65,AL,01131,161591,Wilcox County,2301075085,49057525,888.450,18.941,31.990082,-87.304935
66,AL,01133,161592,Winston County,1587614057,48917203,612.981,18.887,34.154566,-87.365346

In [63]:
matching_state.INTPTLONG

AttributeError: 'DataFrame' object has no attribute 'INTPTLONG'